
# Python cache

__pycache__/
*.py[cod]
*.pyo
*.pyd


# Virtual environment

venv/
env/
.venv/


# IDE (PyCharm / VSCode)

.idea/
.vscode/
*.swp


# Logs

*.log

# OS files

.DS_Store
Thumbs.db


# Test / temporary files

*.tmp
*.bak